<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>${pages.index.title}</title>
    <meta name="applicable-device" content="pc,mobile" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="${pages.index.keywords}" />
    <meta name="description" content="${pages.index.description}" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/tool.css" rel="stylesheet" type="text/css" />
    ${pages.header}
</head>

<body>
    {include file="header" /}
    {include file="nav" /}
    <script src="/static/script/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/static/script/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/script/tool.js" type="text/javascript"></script>
    {include file="footer" /}
</body>

</html>